body{
	width: 100vw;
	height: 100vh;
	background-color:rgba(100,100,100,0);
}
.mui-slider{
	height: 100vh;	
}
/*歌曲详细*/
.audio-cover{
	width: 70vw;
	height: 70vw;
	/*background-color: red;*/
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
	right: 5vw;
	background-image: url(../ceshi.png);
	background-size:100%;
}
.audio-cover:before{
	content: "";
	display: block;
	position: absolute;
	width: calc( 70vw + 10px );
	height: calc( 70vw + 10px );
	border: 1px solid white;
	top: -5px;
	left: -5px;
	z-index: -2;
}
.audio-cover:after{
	width: 70vw;
	height: 70vw;
	content: "";
	display: block;
	position: absolute;
	border-radius: 70vw;
	/*border: 1px solid white;*/
	background-color: rgb(224,224,224);
	top: 0px;
	left: 10vw;
	z-index: -1;
}
.audio-box{
	width: 15vw;
	height: 15vw;
	background-color: rgb(224,224,224);
	border-radius: 10vw;
	position: absolute;
	left: 65vw;
	top:27.5vw;
}
.audio-content{
	width: 100%;
	margin-top: 20px;
	
}
.audio-icon{
	width: 100%;
	height: 10vh;
	color: white;
	font-family: "幼圆";
	font-size: 5vh;
	text-align: center;
	line-height: 10vh;
}
/*歌单*/
.audioList-box{
	width: calc( 100% - 10px );
	height: 80px;
	border-bottom: 1px solid rgba(255,255,255,255.5);
	margin:0 5px;
	position: relative;
}
.audioList-zx{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size:45px;
	color: white;
	font-weight: bolder;
}
.audioList-name{
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size: 30px;
	font-family: "幼圆";
	padding-left: 15px;
	color: white;
}
.audioList-bottom{
	width: 100%;
	height: 35px;
	padding-left: 15px;
	overflow: hidden;
}
.audioList-geshou{
	float: left;
	color: rgba(0,0,0,0.5);
	height: 100%;
	font-size: 25px;
	line-height:35px;
	color: white;
}
.audioList-time{
	float: right;
	color: rgba(0,0,0,0.5);
	height: 100%;
	font-size: 20px;
	line-height:35px;
	color: white;
}
